@use 'base';
@use 'global';

.img-container {
  display: flex;

  @include global.for-lg-up {
    @include global.infinite-grid-columns(450px);
  }
}

.text-container {
  display: flex;

  @include global.for-lg-up {
    @include global.infinite-grid-columns(375px);
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.back-link {
  margin-top: 65px;
}
