@use 'base';
@use 'global';

.title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include global.for-lg-up {
    @include global.infinite-grid-columns(320px);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include global.for-lg-up {
    @include global.infinite-grid-columns(275px);
  }
}

.article-container {
  flex: 1;
  margin-top: -25px;

  code {
    background-color: var(--highlight-bg);
    color: var(--highlight-text);
    padding: 4px;
    border-radius: 2px;
  }

  p,
  a {
    font-size: 12.5px;
    font-weight: 400;
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4px;
  color: var(--gray-content);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-content);
}

.title-text {
  font-size: 14px;
  font-weight: 700;
}

.github-logo {
  height: 18.5px;
  width: auto;
}
