@use 'base';

html {
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* highlight / selection */
p,
a,
li,
div,
br,
strong,
span {
  &::selection {
    color: base.$highlight-text;
    background-color: base.$highlight-bg;
  }
}

/* set core defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* responsive design mixins */
@mixin for-md-up {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin for-lg-up {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin infinite-grid-columns($min-width) {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(#{$min-width}, 1fr));
}

/* custom classes */
.name {
  font-family: "IBM Plex Mono", monospace, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
}

.name-link {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;

  &:visited {
    color: base.$gray-content;
  }

  &:hover {
    text-decoration: none;
  }
}

.wavy-link {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: base.$gray-content-3;

  &:hover {
    text-decoration-style: wavy;
  }

  &:visited {
    color: inherit;
  }
}

.green-link {
  &:hover {
    color: base.$highlight-text;
  }
}
