@use 'base';

a {
  text-decoration: none;
  color: base.$gray-content;

  &:visited {
    color: base.$gray-content;
  }

  &:hover {
    text-decoration: underline;
  }
}

.index-container {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.about-container {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.description {
  padding-bottom: 20px;
  border-bottom: 1px solid base.$gray-content;
}

.works-container {
  flex: 1;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.works {
  height: fit-content;
  grid-column: 1 / span 3;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .works-container {
    display: flex;
  }

  .works {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

.bold {
  font-weight: 700;
}