@use 'base';

a {
  text-decoration: none;
  color: base.$gray-content;

  &:visited {
    color: base.$gray-content;
  }

  &:hover {
    text-decoration: underline;
  }
}

.index-container {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.about-container {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.description {
  padding-bottom: 20px;
  border-bottom: 1px solid base.$gray-content;
}

.works-container {
  flex: 1;
}

.bold {
  font-weight: 700;
}