---
import "@fontsource/ibm-plex-mono";
import "../styles/global.scss";
import "../styles/404.scss";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="404 you're lost." />
    <title>404</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="error-container">
      <span class="message">
        <a href="/">Lost? Go back to /</a>
      </span>
    </div>
  </body>
</html>
