---
import "@fontsource/ibm-plex-mono";
import "../styles/global.scss";
import "../styles/layout.scss";
import "../styles/about.scss";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Tem Taepaisitphongse." />
    <title>About</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="layout-container">
      <div class="img-container">
        <img src="/src/assets/me.jpg" />
      </div>
      <div class="text-container">
        <div class="text">
          <span>
            Hello! I'm Tem.
            <br /><br />
            I'm from Thailand, currently studying <strong
              >CS @ UofM Ann Arbor</strong
            >. I'm interested in creating minimalistic and functional
            experiences on the web, from design to deployment.
            <br /><br />
            Beyond work, you can find me building legos, digging through Letterboxd
            reviews, and attempting to sight-read piano pieces.
            <br /><br />
            You can view my CV <a class="wavy-link" href="/cv">here</a>.
          </span>
          <span class="back-link">
            <a href="/">← Home</a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
