---
import "../styles/index.scss";
import Layout from "../layouts/Layout.astro";
import InfoFooter from "../layouts/InfoFooter.astro";
---

<Layout
  title="Tem Taepaisitphongse"
  description="Personal site of Tem Taepaisitphongse."
>
  <div class="index-container">
    <span class="name">
      <a class="name-link" href="/">temttae</a>
    </span>
    <div class="about-container">
      <span class="description">
        Previously a fraud analyst intern at <span class="bold"
          >Infinitas by Krungthai</span
        >.
        <br /><br />
        <a href="/about">More about me →</a>
      </span>
    </div>
    <div class="works-container">this is where the work goes</div>
    <InfoFooter />
  </div>
</Layout>
