---
import "@fontsource/ibm-plex-mono";
import "../styles/global.scss";
import "../styles/layout.scss";
import "../styles/index.scss";
import Card from "../components/Card.astro";
import Info from "../components/Info.astro";
import Contact from "../components/Contact.astro";
import Currently from "../components/Currently.astro";
import { ViewTransitions } from "astro:transitions";
import { works } from "../data/works";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Personal site of Tem Taepaisitphongse." />
    <title>Tem Taepaisitphongse</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="layout-container">
      <span class="name">
        <a class="name-link" href="/">temttae</a>
      </span>
      <div class="about-container">
        <span class="description">
          Previously a fraud analyst intern at <strong class="green-link"
            >Infinitas by Krungthai</strong
          >.
          <br /><br />
          <a href="/about">More about me →</a>
        </span>
      </div>
      <div class="works-container">
        <div class="works">
          {
            works.length == 0 ? (
              <span>
                🚧 Under construction! <br />
                Check again later for{" "}
                <a
                  href="https://github.com/temttae"
                  style={{ textDecoration: "underline" }}
                >
                  updated projects
                </a>
              </span>
            ) : (
              works.map((work) => {
                return <Card work={work} />;
              })
            )
          }
        </div>
      </div>
      <div class="footer-container">
        <Info />
        <Contact />
        <Currently />
      </div>
    </div>
  </body>
</html>
