---
import "../styles/index.scss";
import Layout from "../layouts/Layout.astro";
import InfoFooter from "../layouts/InfoFooter.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="Tem Taepaisitphongse"
  description="Personal site of Tem Taepaisitphongse."
>
  <div class="index-container">
    <span class="name">
      <a class="name-link" href="/">temttae</a>
    </span>
    <div class="about-container">
      <span class="description">
        Previously a fraud analyst intern at <span class="bold"
          >Infinitas by Krungthai</span
        >.
        <br /><br />
        <a href="/about">More about me →</a>
      </span>
    </div>
    <div class="works-container">
      <div class="works">
        <Card
          href="/works/sample"
          title="title"
          description="description this is very long maybe oh that's not long enough for a test"
          image_src="/src/assets/me.jpg"
        />
        <Card
          href="/works/sample"
          title="title"
          description="description this is very long maybe oh that's not long enough for a test"
        />
      </div>
    </div>
    <InfoFooter />
  </div>
</Layout>
