---
import "../styles/card.scss";

interface Props {
  href: string;
  title: string;
  description: string;
  image_src?: string;
}
const { href, title, description, image_src } = Astro.props;
---

<a href={href}>
  <div class="card-container">
    <img src={image_src} />
    <div class="title-desc">
      <span class="card-title">{title}</span>
      <span>{description}</span>
    </div>
  </div>
</a>
