---
import "../styles/card.scss";

interface Props {
  work: {
    title: string;
    description: string;
    year: string;
    category: string;
    url: string;
    wip: boolean;
    card_img?: string;
  };
}
const {
  work: { title, description, year, category, url, wip, card_img },
} = Astro.props;
---

<a href={url}>
  <div class="card-container">
    <img src={card_img} />
    {wip && <span class="card-tag">a work in progress</span>}
    <div class="card-title">
      <span class="card-title-text">{title}</span>
      <span>{description}</span>
    </div>
  </div>
</a>
