---
import "../styles/footer-item.scss";
---

<div class="item-container">
  <span class="title">contact</span>
  <div class="list-text">
    <div class="text-container">
      <span>
        <a href="mailto:temt4510@gmail.com">temt4510@gmail.com</a>
      </span>
    </div>
    <div class="text-container">
      <span>
        <a href="https://github.com/temttae">github.com/temttae</a>
      </span>
    </div>
    <div class="text-container">
      <span>
        <a href="https://linkedin.com/in/temtae">linkedin.com/in/temtae</a>
      </span>
    </div>
  </div>
</div>
