---
import "../styles/footer-item.scss";
---

<div class="item-container">
  <div class="item-title">contact</div>
  <div class="item-list">
    <div class="item-text">
      <a href="mailto:temt4510@gmail.com">temt4510@gmail.com</a>
    </div>
    <div class="item-text">
      <a href="https://github.com/temttae">github.com/temttae</a>
    </div>
    <div class="item-text">
      <a href="https://linkedin.com/in/temtae">linkedin.com/in/temtae</a>
    </div>
  </div>
</div>
