---
import "../styles/footer-item.scss";
import ListeningTo from "./Listening";

const filmData = {
  title: "Deadpool & Wolverine",
  link: "https://letterboxd.com/film/deadpool-wolverine/",
  rating: "★★★½",
};
---

<div class="item-container">
  <span class="title">currently</span>
  <div class="list-text">
    <ListeningTo client:load />
    <div class="text-container">
      <span class="text">
        <span>🎬</span>
        <a href={filmData.link} target="_blank" class="details">
          <span>{filmData.title}</span>
          <span>{filmData.rating}</span>
        </a>
      </span>
    </div>
  </div>
</div>
