---
import Contact from "../components/Contact.astro";
import Currently from "../components/Currently.astro";
import Info from "../components/Info.astro";
import "../styles/footer.scss";
---

<div class="footer-container">
  <Info />
  <Contact />
  <Currently />
</div>
