---
import "../styles/footer.scss";
import "../styles/footer-item.scss";

// const modules = import.meta.glob("/src/data/*.md");
---

<div class="footer-container">
  <div class="item-container">
    <span class="title">nav</span>
    <div class="list-text">
      <div class="text-container">
        <span><a href="/">home</a></span>
      </div>
    </div>
  </div>
  <div class="item-container">
    <span class="title">projects</span>
    <div class="list-text">
      <div class="text-container">
        <span><a href="/projectdeets">p1</a></span>
      </div>
      <div class="text-container">
        <span><a href="/projectdeets">p2</a></span>
      </div>
    </div>
  </div>
</div>
