---
import "../styles/footer.scss";
import "../styles/footer-item.scss";

// const modules = await import.meta.glob("/src/pages/works/*.md");
// const links = Object.entries(modules).map((elem) => {
//   return elem;
// });
// console.log("links", links);
---

<div class="footer-container">
  <div class="item-container">
    <span class="title">nav</span>
    <div class="list-text">
      <div class="text-container">
        <span><a href="/">home</a></span>
      </div>
    </div>
  </div>
  <div class="item-container">
    <span class="title">projects</span>
    <div class="list-text">
      <div class="text-container">
        <span>
          <a href="/works/sample">sample</a>
        </span>
      </div>
    </div>
  </div>
</div>
